<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>

    <appender name="REQUEST_LOG" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/http.log</file>
        <append>true</append>
        <encoder>
            <pattern>%msg %n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="com.github.iweinzierl.springbootlogging.AOPLogger" level="INFO" additivity="false">
        <appender-ref ref="REQUEST_LOG"/>
    </logger>
</configuration>